altgraph==0.17.3
astroid==2.5.1
click==7.1.2
DBUtils==3.0.2
isort==5.8.0
lazy-object-proxy==1.6.0
macholib==1.16.2
mccabe==0.6.1
modulegraph==0.19.3
psutil==5.9.4
pylint==2.7.2
PyMySQL==1.0.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyqt5-tools==5.15.4.3.2
python-dotenv==1.0.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
toml==0.10.2
wrapt==1.12.1
